# RStudio files
.Rproj.user/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# R Environment Variables
.Renviron

# RStudio files
.Rproj.user/

# History files
.Rhistory
.Rapp.history

# knitr and R markdown default cache directories
*_cache/
/cache/